/* Width */
@media(max-width: 1200px) {
    .header-menu-expand-item4 {
        padding-left:50px !important;
    }
}
@media(max-width: 1100px) {
    .header-menu-expand-item4 {
        padding-left:100px !important;
    }
}










/* Height */
@media (max-height:600px) {
    .header-menu-expand .row2 {
        margin-top: 20px;
    }
}
@media (max-height:550px) {
    .header-menu-expand .row2 {
        margin-top: 0px;
    }
}